.alert--header {
  position: absolute;
  width: 49px;
  height: 24px;
  left: 24px;
  top: 68px;
  color: var(--white);
  font-weight: 600;
  font-size: var(--title);
}
.mark-all {
  position: absolute;
  width: 120px;
  height: 24px;
  left: 240px;
  top: 74px;
  color: var(--social-pink);
  font-size: var(--secondary-text);
  font-weight: 600;
}
.today {
  position: absolute;
  width: 48px;
  height: 16px;
  left: 24px;
  top: 116px;
  font-size: var(--tertiary-text);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-gray);
}
.yesterday {
  position: absolute;
  width: 48px;
  height: 16px;
  left: 24px;
  top: 370px;
  font-size: var(--tertiary-text);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-gray);
}
.alert--container--new {
  position: relative;
  height: 95px;
  width: 375px;
  top: 152px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid var(--gray);
}
.alert--container--old {
  position: relative;
  height: 95px;
  width: 375px;
  top: 215px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid var(--gray);
}
.icon--box {
  background-color: var(--gray);
  height: 40px;
  width: 40px;
  border-radius: 32px;
  position: absolute;
  top: 16px;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert--icon {
  background: transparent;
  width: 16px;
  height: 16px;
}
.text--box {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 42px;
  position: absolute;
  top: 16px;
  left: 76px;
  right: 24px;
  background: transparent;
  line-height: 20px;
}
.alert--text--new {
  font-weight: 700;
  font-size: var(--secondary-text);
}
.alert--text--old {
  font-weight: 700;
  font-size: var(--secondary-text);
  color: var(--light-gray);
}
.alert--text--new span {
  font-weight: 100;
}
.alert--text--old span {
  color: var(--light-gray);
  font-weight: 100;
}
.time--ago {
  color: var(--light-gray);
  font-size: var(--tertiary-text);
  padding: 5px 0;
}
.action--bar--alert {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 88px;
  width: 375px;
  background-color: var(--black);
}
.icon--letter {
  background: transparent;
  color: var(--social-blue);
}
.icon--symbol {
  background: transparent;
}
