.main {
  height: calc(100vh - 100px - 40px);
  min-width: 375px;
  background-color: var(--dark-black);
}

.story-slider {
  _margin-top: 20px;
  padding: 20px 20px;
}

.story-slider-preview {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 15px;
}

.story-slider-preview-elem {
  display: flex;
  object-fit: cover;
  box-shadow: 1px 1.5px 4px 0 rgb(217, 217, 217);
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 91.43%
  );
}

.story-slider-preview-elem img {
  height: 140px;
  width: 100px;
}

img.rounded-corners {
  border-radius: 16px;
}

li {
  position: relative;
}

.story-slider-profilepic {
  position: absolute;
  padding: 10px;
  background-color: aqua;
}

/* .story-slider-profilepic a {
  position: absolute;
  padding: 10px;
  z-index: 10;
  background-color: aqua;
} */
