@import url(/base.css);
@import url(/base.css);
@import url(/css-components/main.css);

.post-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.post-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.post-author {
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.post-timestamp {
  color: var(--light-gray);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.post-info-picture {
  border-radius: 50%;
  width: 100px;
}

.post-content-text {
  color: var(--light-white);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.post-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 128px;
}

.social-reactions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.post-bookmark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
}
