.profile--banner {
  position: absolute;
  width: 375px;
  height: 160px;
  left: 0px;
  top: 0px;
}
.profile--photo {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 113px;
  top: 85px;
  background: transparent;
}
.userField {
  position: absolute;
  width: 375px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  top: 247px;
}
.userName {
  margin: 0.3rem;
  font-size: var(--title);
  color: var(--white);
}
.userCity {
  margin: 0.3rem;
  font-size: var(--secondary-text);
  color: var(--light-gray);
}
.userJob {
  margin: 0.3rem;
  font-size: var(--secondary-text);
  color: var(--light-white);
}
